<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>展示</title>
</head>
<body>
<center>
	<table border="1">
			<tr>
				<td>ID</td>
				<td>标题</td>
				<td>内容</td>
				<td>图片</td>
				<td>增加时间</td>
				<td>操作</td>
			</tr>
			<tbody id="t_body">
				
			</tbody>
	</table>
</center>
<script>
	function show(p){
		var xhr = new XMLHttpRequest();
		xhr.open('get','__URL__/ajax/p/'+p);
		xhr.send();
		xhr.onreadystatechange=function (){
			if (xhr.readyState==4&&xhr.status==200) {
				document.getElementById('t_body').innerHTML=xhr.responseText;
			};
		}
	}
	show(1)
	function page(p){
		var xhr = new XMLHttpRequest();
		xhr.open('get','__URL__/ajax/p/'+p);
		xhr.send();
		xhr.onreadystatechange=function (){
			if (xhr.readyState==4&&xhr.status==200) {
				document.getElementById('t_body').innerHTML=xhr.responseText;
			};
		}
	}

	function del(id,p){
		if (confirm('删除么')) {
			var xhr = new XMLHttpRequest();
			xhr.open('get','__URL__/del/id/'+id+'/p/'+p);
			xhr.send();
			xhr.onreadystatechange=function (){
				if (xhr.readyState==4&&xhr.status==200) {
					document.getElementById('t_body').innerHTML=xhr.responseText;
				};
			}
		}
	}

</script>
</body>
</html>