<ul class="nav nav-list">
<li class="active">
	<a href="index.html">
		<i class="icon-dashboard"></i>
		<span class="menu-text"> 后台控制台 </span>
	</a>
</li>

<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-desktop"></i>
		<span class="menu-text"> 分类管理 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="{:U('Type/type')}">
				<i class="icon-double-angle-right"></i>
				添加分类
			</a>
		</li>

		<li>
			<a href="{:U('Type/show')}">
				<i class="icon-double-angle-right"></i>
				分类列表
			</a>
		</li>

	</ul>
</li>

<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-list"></i>
		<span class="menu-text"> 标签管理 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="{:U('Label/label')}">
				<i class="icon-double-angle-right"></i>
				添加标签
			</a>
		</li>

		<li>
			<a href="{:U('Label/show')}">
				<i class="icon-double-angle-right"></i>
				标签列表
			</a>
		</li>
        
	</ul>
</li>

<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-edit"></i>
		<span class="menu-text"> 博文管理 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="{:U('Blog/show')}">
				<i class="icon-double-angle-right"></i>
				博文公告
			</a>
		</li>

		<li>
			<a href="{:U('Blog/blog')}">
				<i class="icon-double-angle-right"></i>
				博文发布
			</a>
		</li>

	</ul>
</li>

<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-edit"></i>
		<span class="menu-text"> 评论 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="{:U('Comment/show')}">
				<i class="icon-double-angle-right"></i>
				展示评论
			</a>
		</li>

		<li>
			<a href="{:U('Comment/comment')}">
				<i class="icon-double-angle-right"></i>
				评论操作
			</a>
		</li>

	</ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 管理员 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="{:U('Login/user')}">
                <i class="icon-double-angle-right"></i>
                操作信息
            </a>
        </li>

        <li>
            <a href="{:U('Login/show')}">
                <i class="icon-double-angle-right"></i>
                展示信息
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 用户信息 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="{:U('User/user')}">
                <i class="icon-double-angle-right"></i>
                操作信息
            </a>
        </li>

        <li>
            <a href="{:U('User/show')}">
                <i class="icon-double-angle-right"></i>
                展示信息
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 友链 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="{:U('User/user')}">
                <i class="icon-double-angle-right"></i>
                友链地址
            </a>
        </li>
    </ul>
</li>