<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<center>
		<table border="1">
			<thead>
				<th>标题</th>
				<th>内容</th>
				<th>分类</th>
				<th>时间</th>
				<th>删除</th>
				<th>修改</th>
			</thead>
			<tbody>
				<volist name="list" id="v">
					<tr>
						<td>{$v.title}</td>
						<td>{$v.content}</td>
						<td>{$v.label_name}</td>
						<td>{$v.time}</td>
						<td><a href="{:U('Blog/del')}?id={$v.id}">删除</a></td>
						<td><a href="{:U('Blog/up')}?id={$v.id}">修改</a></td>
					</tr>
				</volist>
			</tbody>
		</table>
		<a href="{:U('Blog/add')}">返回添加</a>
	</center>
</body>
</html>