<div class="jilu"><script>jilu();</script><div class="jilu_l pngFix">您上次已阅读到<a class="sm" target="_blank" href="http://www.sangwu.org/book/9/9622/">《全职法师》</a>的 <a class="zj" target="_blank" href="http://www.sangwu.org/book/9/9622/4905317.htm">章节目录 第3章 开学大典</a>!</div><div class="jilu_2 pngFix"><a target="_blank" href="/modules/article/">小说书库</a></div></div>
<div class="index">
<div class="s">
<div class="cover">桑舞小说网推荐小说</div>
    
<?php foreach ($data['lou1'] as $k => $v): ?>
<div class="s1">
        <a target="_blank" href="http://www.sangwu.org/book/0/125/"><img width="120" height="150" alt="九真九阳" src="<?=PUBLIC_DIR?>/img/<?=$v['cover']?>"></a>
           <h2><a target="_blank" href="http://www.sangwu.org/book/0/125/"><?=$v['n_name']?></a></h2>
       <p>作者:<?=$v['author']?></p>
           <p>省略...</p>
      </div>
<?php endforeach ?> 

</div>
<div class="ad1"><script>index_1();</script></div>
<div class="w">

<div class="w1">
<div class="wname">玄幻小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/1/1852/"><img width="120" height="150" alt="都市奇门医圣" src="http://www.sangwu.org/fengmian/1/1852/1852s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/1/1852/">都市奇门医圣</a></h2>
           <p>    实习医生叶皓轩，意外的得到一本古书上的玄术与医道传承，自此开始了不一样的人生，他银针渡人，术法渡鬼，成就济世仁心，...</p>
</div>
<ul>
 
<li><span>[玄幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1292/">我动了美女上司的电脑之后</a></li>
 
<li><span>[玄幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/10/10134/">雪鹰领主</a></li>
 
<li><span>[玄幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/543/">邪王追妻：废材逆天小姐</a></li>
 
<li><span>[玄幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/26/">大主宰</a></li>
 
<li><span>[玄幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/15/15970/">龙王传说</a></li>

</ul>
</div>


<div class="w1">
<div class="wname">武侠小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/0/125/"><img width="120" height="150" alt="九真九阳" src="http://www.sangwu.org/fengmian/0/125/125s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/0/125/">九真九阳</a></h2>
           <p>    冲击境界失败的苏方，全身经脉扭曲变形，沦为废人，永远无法再修行，却意外得到一面神奇的古镜，而在古镜的深处，他遇到一...</p>
</div>
<ul>
 
<li><span>[武侠小说] </span><a target="_blank" href="http://www.sangwu.org/book/21/21661/">八零后修道记</a></li>
 
<li><span>[武侠小说] </span><a target="_blank" href="http://www.sangwu.org/book/20/20135/">一念永恒</a></li>
 
<li><span>[武侠小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/18/">莽荒纪</a></li>
 
<li><span>[武侠小说] </span><a target="_blank" href="http://www.sangwu.org/book/5/5111/">超级仙府</a></li>
 
<li><span>[武侠小说] </span><a target="_blank" href="http://www.sangwu.org/book/17/17549/">白袍总管</a></li>

</ul>
</div>


<div class="w1">
<div class="wname">都市小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/6/6102/"><img width="120" height="150" alt="嚣张宝宝财迷妈咪" src="http://www.sangwu.org/fengmian/6/6102/6102s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/6/6102/">嚣张宝宝财迷妈咪</a></h2>
           <p>    六年前她是无所不能的黑暗圣手，他是狠辣无情的商界霸主。一夜迷情，她狼狈逃亡。六年后，她是身份多变的天才设计师，身边...</p>
</div>
<ul>
 
<li><span>[都市小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1128/">大鉴定师</a></li>
 
<li><span>[都市小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1137/">校花的贴身高手</a></li>
 
<li><span>[都市小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/4/">神纹道</a></li>
 
<li><span>[都市小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1017/">鉴宝秘术</a></li>
 
<li><span>[都市小说] </span><a target="_blank" href="http://www.sangwu.org/book/11/11844/">帝国玩具</a></li>

</ul>
</div>


</div>
<div class="w">

<div class="w1">
<div class="wname">网游小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/0/83/"><img width="120" height="150" alt="神级英雄" src="http://www.sangwu.org/fengmian/0/83/83s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/0/83/">神级英雄</a></h2>
           <p>    英雄，就是那种不仅自身实力强大，他率领的部队也会随英雄的强大而强大的神圣存在。
    《英雄创世纪》，一款由美国，中...</p>
</div>
<ul>
 
<li><span>[网游小说] </span><a target="_blank" href="http://www.sangwu.org/book/4/4189/">网游之逆天戒指</a></li>
 
<li><span>[网游小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/588/">铸圣庭</a></li>
 
<li><span>[网游小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1196/">惊悚乐园</a></li>
 
<li><span>[网游小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1088/">重生之围棋梦</a></li>
 
<li><span>[网游小说] </span><a target="_blank" href="http://www.sangwu.org/book/10/10859/">舰娘之蔚蓝舰姬</a></li>

</ul>
</div>


<div class="w1">
<div class="wname">科幻小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/0/21/"><img width="120" height="150" alt="星战风暴" src="http://www.sangwu.org/fengmian/0/21/21s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/0/21/">星战风暴</a></h2>
           <p>    军校考试临近，二十八的基因数被直接取消了考试资格。
    替朋友送个情书，结果却掉到了湖中，殉情之名不胫而走。
    王...</p>
</div>
<ul>
 
<li><span>[科幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/21/21679/">宇宙的边缘世界</a></li>
 
<li><span>[科幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/731/">超级光脑系统</a></li>
 
<li><span>[科幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/19/19675/">位面祭坛</a></li>
 
<li><span>[科幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/24/">站在食物链顶端的男人</a></li>
 
<li><span>[科幻小说] </span><a target="_blank" href="http://www.sangwu.org/book/22/22242/">未来天王</a></li>

</ul>
</div>


<div class="w1">
<div class="wname">恐怖小说</div>
<div class="wpic"><a target="_blank" href="http://www.sangwu.org/book/8/8731/"><img width="120" height="150" alt="我的灵异档案" src="http://www.sangwu.org/fengmian/8/8731/8731s.jpg"></a>
<h2><a target="_blank" href="http://www.sangwu.org/book/8/8731/">我的灵异档案</a></h2>
           <p>    半夜里，楼上小王敲开我的房门，说让他表妹在我家住一晚，看着她清纯可人的样子，我决定做一次好人，可谁知道她居然···...</p>
</div>
<ul>
 
<li><span>[恐怖小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1797/">修真之覆雨翻云</a></li>
 
<li><span>[恐怖小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/25/">我当道士那些年</a></li>
 
<li><span>[恐怖小说] </span><a target="_blank" href="http://www.sangwu.org/book/0/28/">苗疆道事</a></li>
 
<li><span>[恐怖小说] </span><a target="_blank" href="http://www.sangwu.org/book/1/1799/">九龙至尊</a></li>
 
<li><span>[恐怖小说] </span><a target="_blank" href="http://www.sangwu.org/book/14/14649/">银狐</a></li>

</ul>
</div>


</div>
<div class="ad1"><script>index_2();</script></div>
<div class="n">
<div class="n1">
<div class="n1_1">最新更新</div>
<ul>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/21/21495/">网游之全球在线</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/21/21495/11572758.htm">第一千一百零七章 瀛洲行省</a></div><div class="n1_5">笙箫剑客</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[其他类型]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/21/21966/">我是杀毒软件</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/21/21966/11572757.htm">第276章 团灭？</a></div><div class="n1_5">懒鸟</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/0/519/">异能小农民</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/0/519/11572756.htm">第2556章 邪术之元神傀儡</a></div><div class="n1_5">楚田</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[其他类型]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/5/5196/">人生得意无尽欢</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/5/5196/11572500.htm">第四百三十八章 对战</a></div><div class="n1_5">六道</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[女生小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/4/4760/">爱在向阳处，等你</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/4/4760/11572473.htm">第279章 博雅约饭，就要点最贵的吃！</a></div><div class="n1_5">江小鱼</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[武侠小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/0/125/">九真九阳</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/0/125/11572660.htm">第三千一百四十三章 天权星主道侣</a></div><div class="n1_5">杜灿</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/19/19066/">绝世幻武</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/19/19066/11572469.htm">第十章 阴谋</a></div><div class="n1_5">百世经纶</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[玄幻小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/19/19869/">万界武神</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/19/19869/11571791.htm">第两千两百六十八章 脱困</a></div><div class="n1_5">书狂人</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/6/6837/">我有大儒系统</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/6/6837/11572755.htm">第一百二十三章 来自鲁含玉的邀请</a></div><div class="n1_5">白马神</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[玄幻小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/21/21991/">最强败家子2</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/21/21991/11522566.htm">第665章 怎么个玩法</a></div><div class="n1_5">纳兰凌风</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/13/13598/">真武世界</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/13/13598/11572241.htm">第一千二百零八章 万妖圣典</a></div><div class="n1_5">蚕茧里的牛</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/21/21295/">异度恶魔空间</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/21/21295/11213905.htm">第八百零五章 毁灭重生</a></div><div class="n1_5">老牛十八岁</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/20/20627/">心理大师</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/20/20627/11168484.htm">第三百九十五章 生命</a></div><div class="n1_5">写故事的本子</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[都市小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/0/155/">极品地主</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/0/155/11522685.htm">1533章 牧场萌宠</a></div><div class="n1_5">壮乡小仨</div><div class="n1_6">10-23</div></li>

<li><div class="n1_2">[玄幻小说]</div><div class="n1_3"><a target="_blank" href="http://www.sangwu.org/book/16/16000/">极品帝王</a></div><div class="n1_4"><a href="http://www.sangwu.org/book/16/16000/11572188.htm">第1454章皇上,不可心灰意冷</a></div><div class="n1_5">兵魂</div><div class="n1_6">10-23</div></li>

</ul>
</div>
<div class="n2">
<div class="n2_1">最新入库</div>
<ul>

<li><div class="n2_2">[其他类型]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22381/">我家王爷会作妖</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22380/">专属男神：娇妻请入怀</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22379/">念爱亦成欢</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22378/">甜妻来袭，莫少么么哒</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[其他类型]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22377/">婚不守舍</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[玄幻小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22376/">狂妃倾城，主上别撩我</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22375/">恰似你的温柔</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22374/">总裁宠妻，太太请一爱到底</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22373/">若是情深，怎会缘浅</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22372/">极致危情，总裁束手就擒</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22371/">爱你朝朝暮暮</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22370/">爱是坟墓里的再生花</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[女生小说]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22369/">一城冬暖</a></div><div class="n2_4">09-09</div></li>

<li><div class="n2_2">[其他类型]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22368/">我和女神有个婚约</a></div><div class="n2_4">09-03</div></li>

<li><div class="n2_2">[侦探推理]</div><div class="n2_3"><a href="http://www.sangwu.org/book/22/22367/">替天行道</a></div><div class="n2_4">09-03</div></li>

</ul>
</div>
</div>
</div>
<div class="link">
<div class="linkn">友情链接</div>
<div class="linkin">
<a target="_blank" href="http://www.soduso.com">sodu</a> 
<a target="_blank" href="http://www.sodu.cc">搜读</a>
<a target="_blank" href="http://www.xbqge.com">新笔趣阁</a> 
<a target="_blank" href="http://www.sangwu.org/book/18/18676/"><b>风鬼传说</b></a> 
<a target="_blank" href="http://www.sangwu.org/book/7/7555/">道医天下</a> 
<a target="_blank" href="http://www.sangwu.org/book/9/9580/">阴阳捉鬼人</a> 
<a target="_blank" href="http://www.sangwu.org/book/9/9589/">极品阴阳师</a> 
<a target="_blank" title="雪鹰领主最新章节" href="/book/10/10134/">雪鹰领主最新章节</a> 
<a target="_blank" href="/map/1.html">全部小说列表</a> 
<a target="_blank" href="http://www.sangwu.org/book/19/19869/">万界武神</a> 
<a target="_blank" href="http://www.sangwu.org/book/19/19066/">绝世幻武</a>
<a target="_blank" href="http://www.tianmengwen.com">甜梦文库</a> 
</div>
</div>
  
 
 
