<div class="src"> 
   <div class="left">
     您现在的位置： 
    <a href="http://www.sangwu.org">桑舞小说网</a> -&gt; 
    完美世界
   </div>
</div>   
<div class="l">
<div class="l_1">“完美世界”的搜索结果</div>

<div class="l_2">
<div class="l_3"><a href="http://www.sangwu.org/book/0/2/index.htm"><img src="http://www.sangwu.org/fengmian/0/2/2s.jpg"></a></div>
<div class="l_4"><h2><a href="http://www.sangwu.org/book/0/2/index.htm">完美世界_</a></h2><p>作者：辰东 状态：连载中</p>
<p>简介：一粒尘可填海，一根草斩尽日月星辰，弹指间天翻地覆。
    群雄并起，万族林立，诸圣争霸，乱天动地。问苍茫大地，谁主沉浮？！
    一个少年从大荒中走出，一切从这里开始……</p>
<div class="l_5">
最新章节：<a href="http://www.sangwu.org/book/0/2/10391146.htm">我的新书《圣墟》已上传</a> (更新时间：16-11-01) 
</div>
</div>
<div class="l_6">
<a href="http://www.sangwu.org/book/0/2/index.htm">点击阅读</a>
<a onclick="showpop('/modules/article/addbookcase.php?bid=2&amp;ajax_request=1');" href="javascript:;">加入书架</a>
<a onclick="showpop('/modules/article/uservote.php?id=2&amp;ajax_request=1');" href="javascript:;">投推荐票</a>
</div>
</div>
  
<div class="l_2">
<div class="l_3"><a href="http://www.sangwu.org/book/14/14255/index.htm"><img src="http://www.sangwu.org/fengmian/14/14255/14255s.jpg"></a></div>
<div class="l_4"><h2><a href="http://www.sangwu.org/book/14/14255/index.htm">火影之完美世界</a></h2><p>作者：我正减肥中 状态：已完成</p>
<p>简介：    宇智波的悲伤不再有
    完美的守护者，使得宇智波家不再经历灭族的惨痛！
    －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
    《学园都市的弑神者》一个十五...</p>
<div class="l_5">
最新章节：<a href="http://www.sangwu.org/book/14/14255/7220428.htm">7 逃出“恐怖”木叶（中）</a> (更新时间：15-12-23) 
</div>
</div>
<div class="l_6">
<a href="http://www.sangwu.org/book/14/14255/index.htm">点击阅读</a>
<a onclick="showpop('/modules/article/addbookcase.php?bid=14255&amp;ajax_request=1');" href="javascript:;">加入书架</a>
<a onclick="showpop('/modules/article/uservote.php?id=14255&amp;ajax_request=1');" href="javascript:;">投推荐票</a>
</div>
</div>
  
<div class="pages"><div id="pagelink" class="pagelink"><em id="pagestats">1/1</em><a class="first" href="/modules/article/search.php?searchkey=%CD%EA%C3%C0%CA%C0%BD%E7&amp;searchtype=articlename&amp;page=1">1</a><a class="pgroup" href="/modules/article/search.php?searchkey=%CD%EA%C3%C0%CA%C0%BD%E7&amp;searchtype=articlename&amp;page=1">&lt;&lt;</a><strong>1</strong><a class="ngroup" href="/modules/article/search.php?searchkey=%CD%EA%C3%C0%CA%C0%BD%E7&amp;searchtype=articlename&amp;page=1">&gt;&gt;</a><a class="last" href="/modules/article/search.php?searchkey=%CD%EA%C3%C0%CA%C0%BD%E7&amp;searchtype=articlename&amp;page=1">1</a><kbd><input type="text" onkeydown="if(event.keyCode==13){window.location='/modules/article/search.php?searchkey=%CD%EA%C3%C0%CA%C0%BD%E7&amp;searchtype=articlename&amp;page='+this.value; return false;}" maxlength="6" size="4" name="page"></kbd></div></div>
</div>  