<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>88读书网</title>
<meta name="keywords" content="88读书网,69中文网,无弹窗">
<meta name="description" content="88读书网是小说迷最喜欢的小说阅读网，免费为您提供小说在线阅读服务，还没有弹窗广告。我们将提供更多的优质小说分享给大家！">
<link rel="stylesheet" href="<?=PUBLIC_DIR;?>/css/index.min.css">
<script type="text/javascript" src="<?=PUBLIC_DIR;?>/js/jquery.js"></script>
<script type="text/javascript" src="<?=PUBLIC_DIR;?>/js/index.js"></script>
</head>
<body>
<div class="top">
  <div class="main">
    <div class="lf">
      <script>login();</script>
    </div>
    <div class="rt">
      <a href="http://zn.88dushu.com" target="_blank"><font color="#FF0000">站内搜索</font></a> | <a href="javascript:st();void 0;" id="st" rel="nofollow">繁體中文</a> | <a href="http://m.88dushu.com/" target="_blank">手机版</a> | <a href="/help/jifen.html">积分规则</a> | <a href="javascript:void(0);" onclick="AddFavorite('八八读书网',location.href)" target="_self" rel="nofollow">收藏本站</a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="logo">
    <a href="http://www.88dushu.com/">88读书网</a>
  </div>
  <div class="seach">
    <script>seach();</script>
  </div>
</div>
<div class="nav">
  <div class="main">
    <ul class="nav_l">
      <li><a href="http://www.88dushu.com/">首页</a></li>
      <li><a href="/sort1/1/">玄幻魔法</a></li>
      <li><a href="/sort2/1/">武侠修真</a></li>
      <li><a href="/sort3/1/">都市言情</a></li>
      <li><a href="/sort4/1/">历史穿越</a></li>
      <li><a href="/sort5/1/">恐怖悬疑</a></li>
      <li><a href="/sort6/1/">游戏竞技</a></li>
      <li><a href="/sort7/1/">军事科幻</a></li>
      <li><a href="/sort9/1/">女生频道</a></li>
      <li><a href="/sort8/1/">综合类型</a></li>
    </ul>
    <ul class="nav_r">
      <li><a href="/topgoodnum/1/">收藏</a></li>
      <li><a href="/toppostdate/1/">新书</a></li>
      <li><a href="/top/fullflag/">完本</a></li>
      <li><a href="/newmessage.php?tosys=1&title=求书：&content=请说明所求书的完整书名，作者名，以及首发网站" rel="nofollow">求书</a></li>
    </ul>
  </div>
</div>
<div class="yd_ad">
</div>


<?=$html;?>

<div class="link">
  友情链接：<a href="http://www.88dushu.com" target="_blank">88读书网</a>
<a href="http://www.pingshu365.com" target="_blank">评书网</a>
<a href="http://faloo.com" target="_blank">小说网</a>
<a href="http://www.soduso.com" target="_blank">sodu</a>
<a href="http://www.dxsxs.com/ " target="_blank">小说txt下载 </a>
<a href="http://www.k6uk.com/ " target="_blank">看小说</a>
<a href="http://www.pingshu8.com" target="_blank">评书吧</a>
<a href="http://www.guijj.com/" target="_blank">鬼故事</a>
<a href="http://www.dxsxs.com" target="_blank"> txt小说网</a>
<a href="http://www.qzread.com" target="_blank">Q猪文学站</a>

</div>
<div id="footer">
  <p>
    本站所有小说由网友上传，如有侵犯版权，请来信告知，本站立即予以处理。
  </p>
  <p>
    Copyright &copy; 2017 88读书网 All Rights Reserved.
    <script>tongji();</script>
  </p>
</div>
</body>
</html>