<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<center>
		<table>
			<thead>
				<th>ID</th>
				
				<th>图片</th>
				<th>内容</th>
				
			</thead>
			<tbody id="body">
				<foreach name="list" item="v">
					<tr>
						<td>{$v['id']}</td>
						<td><img src="__ROOT__/{$v['img_path']}" width="50"></td>
						<td>{$v['content']}</td>
						
					</tr>
				</foreach>

			</tbody>
		</table><a href="__URL__/show">返回展示页面</a>
	</center>
</body>
</html>



