<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>周考技能展示</title>
</head>
<body>
<center>
	<table border="2">
		<tr>
			<td>ID</td>
			<td>商品名称</td>
			<td>品牌网址</td>
			<td>商品LOGO</td>
			<td>商品描述</td>
			<td>排序</td>
			<td>操作</td>
		</tr>
		<foreach name="data" item="v">
			<tr>
				<td>{$v['id']}</td>
				<td>{$v['name']}</td>
				<td>{$v['email']}</td>
				<td><img src="__ROOT__/{$v['logo']}" width="80"></td>
				<td>{$v['count']}</td>
				<td>{$v['oder']}</td>
				<td><a href="__URL__/del/id/{$v['id']}">删除</a></td>
			</tr>
		</foreach>
	</table>
</center>
</body>
</html>