<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<center>
		<table border="1">
			<tr>
				<td>ID</td>
				<td>标题</td>
				<td>图片</td>
				<td>标签</td>
				<td>操作</td>
			</tr>
			<volist name="list" id="v">
				<tr>
					<td>{$v.id}</td>
					<td>{$v.name}</td>
					<td><img src="__ROOT__/{$v.file}" width="50"></td>
					<td>{$v.biao}</td>
					<td><a href="{:U('/Home/Blog/up')}?id={$v.id}">修改</a></td>
				</tr>
			</volist>
		</table>
	</center>
</body>
</html>