<head><script src="//hm.baidu.com/hm.js?5268a54e187670ee0953ba36efee746a"></script><script src="//hm.baidu.com/hm.js?5268a54e187670ee0953ba36efee746a"></script><script type="text/javascript" async="" src="http://img1.hongshu.com/Public/javascript/tjsitecount.js"></script>
    <title>书库 - 红薯中文网-最新小说排行榜-免费小说在线阅读-好看的原创小说阅读网站</title>
    <meta name="keywords" content="玄幻小说,言情小说,免费小说,都市小说,穿越小说,好看的小说,免费小说阅读,红薯网,总裁豪门小说,校园言情小说,hongshu">
    <meta name="description" content="红薯小说网,提供最新免费小说.包括玄幻小说,言情小说,网游小说等热门分类.找好看的小说,请到hongshu.com,超快网速,更新频繁,为读者提供免费小说，友好交流的网站.">
      <meta name="robots" content="all">
  <meta name="googlebot" content="all">
  <meta name="baiduspider" content="all">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta property="qc:admins" content="56666307776076730563757">
  <meta name="copyright" content="本页版权 www.hongshu.com 红薯小说阅读网所有 All right reserved">
  <link rel="shortcut icon" href="http://img1.hongshu.com/Public/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="http://img1.hongshu.com/Public/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="http://img1.hongshu.com/Public/images/apple-touch-icon.png">
    <link href="http://img1.hongshu.com/min/b=Public/css&amp;f=base.css?v=09_31" rel="stylesheet" type="text/css" charset="utf-8">
</head>
<div class="shukulf fllf lf10  clearfix">
      <div class="search2 top30  clearfix">
        <div class="search-box">
          <div>
            <h2 class="yahei rt20">搜索书名</h2>
          </div>
          <div class="search-box_tabscon">
            <!-- <select id="selKeywordtype" class="form-control" value="">
              <option value="1">综合</option>
              <option value="2">作品</option>
              <option value="3">作者</option>
              <option value="4">简介</option>
              <option value="5">标签</option>
            </select> -->
            <input id="txtKeyword" class="subsearch2" type="text" placeholder="" maxlength="20" autocomplete="off" name="<?=URL ?>" value="">
            <input type="button" value="书名" class="searchbtn" id="btnSearch">
          </div>
        </div>
      </div>
      <div id="divBookRoomSign" class="searchconditions top30 clearfix">

        <!-- <div class="searchconditions_unit"> -->
        <div class="searchconditions_unit">
          <div class="tagstit">是否完结：</div>
          <ul>
            <li><a href="javascript:hs_bookroom.setFinish(0, 1)" category="finish" sign="0" class="active">不限</a></li>
            <li><a href="javascript:hs_bookroom.setFinish(1, 1)" category="finish" sign="1">已完结</a></li>
            <li><a href="javascript:hs_bookroom.setFinish(2, 1)" category="finish" sign="2">连载中</a></li>
          </ul>
        </div>
        <div id="divTag" class="choiceword top20 clearfix">

        </div>
      </div>
      <div id="divBookList" class="myaccount4 top30 clearfix">
        <div class="conditions  clearfix">
        <div class="left">根据搜索条件，共有17520个结果</div>
        <div class="right">
          <select id="selOrder" onchange="hs_bookroom.setOrder(this.value)">
            <option value="4" selected="selected">按热度排序</option>
            <option value="0">按相关度排序</option>
            <option value="1">按更新时间排序</option>
            <option value="2">按点击量排序</option>
            <option value="3">按字数排序</option>
          </select>
        </div>
      </div>
      </div>
      <div class="shelfbook2tit"><span>书名</span><span class="flrt">操作</span></div>
      <div class="shelfbook2 clearfix">
        <ul>
            <?php foreach ($arr as $k => $v): ?>
            <li>
                <div class="left"><a href="http://www.hongshu.com/book/56983/" target="_blank" class="img" title="都市奇门医圣"><img src="../../<?=$v['b_feng']?>"></a> </div>
                <div class="right lf20">
                  <h4 class="yahei "><a href="http://www.hongshu.com/book/56983/" target="_blank" title="都市奇门医圣"><?=$v['b_name']?></a></h4>
                  <p>作者：
                    <a href="http://www.hongshu.com/userspace/a/355784/index.html" target="_blank" title="一念"><?=$v['b_zuo']?></a>
                  </p>
                  <p>类别：<a href="http://gg.hongshu.com" target="_blank">男频</a>-&gt;<a href="javascript:void(0)" title="都市异能">都市异能</a></p>
                  <p>未完本|789.16万字|167章|更新时间： 8个小时前</p>
                  <p class="top10">点击：<span class="rt10"><?=$v['b_dian']?></span>红票:<span class="rt10"><?=$v['b_piao']?></p></span>
                </div>
                <div class="readbombtn2 top20 flrt clearfix">
                  <a href="/content/56983.html" target="_blank"> 阅读</a>
                  <a id="a_dofav56983" href="javascript:hs_bookroom.dofav(56983)" class="continueread2"> 放入书架</a>
                </div>
            </li>
            <?php endforeach ?>
        </ul>
      </div>

      <div class="pages top30 bom30 clearfix">

          <span class="disabled">|&lt;</span>
          <span class="disabled">&lt;</span>
            <span class="current">1</span>
            <a href="javascript:hs_bookroom.setPage(2);hs_bookroom.searchBook()">2</a>
            <a href="javascript:hs_bookroom.setPage(3);hs_bookroom.searchBook()">3</a>
            <a href="javascript:hs_bookroom.setPage(4);hs_bookroom.searchBook()">4</a>
            <a href="javascript:hs_bookroom.setPage(5);hs_bookroom.searchBook()">5</a>
            <a href="javascript:hs_bookroom.setPage(6);hs_bookroom.searchBook()">6</a>
            <a href="javascript:hs_bookroom.setPage(7);hs_bookroom.searchBook()">7</a>
            <a href="javascript:hs_bookroom.setPage(8);hs_bookroom.searchBook()">8</a>
            <a href="javascript:hs_bookroom.setPage(9);hs_bookroom.searchBook()">9</a>
            <a href="javascript:hs_bookroom.setPage(10);hs_bookroom.searchBook()">10</a>
            <a href="javascript:hs_bookroom.setPage(11);hs_bookroom.searchBook()">11</a>
          <a href="javascript:hs_bookroom.setPage(2);hs_bookroom.searchBook()">&gt;</a>
          <a href="javascript:hs_bookroom.setPage(1168);hs_bookroom.searchBook()">&gt;|</a>

      </div>
      </div>
      <script src="../../public/jq.js"></script>
      <script >
        $(document).on('click', 'input[value=书名]', function() {
          var sou = $('#txtKeyword').val();
          var url = $('#txtKeyword').prop('name');
          url += '/Welcome/sou';
          alert(url);
          $.get(url, {sou:sou}, function(data) {
            alert(data);
          });
        });
      </script>
