
<div class="fengtui">
  
<dl>
  <dt><a href="/xiaoshuo/56/56940/"><img src="http://fm.88dushu.com/56/56940/56940s.jpg" alt="电影教师"></a></dt>
  <dd><h3><a href="/xiaoshuo/56/56940/">电影教师</a></h3><span>青城无忌</span><p>    拍出最好的电影，教出最好的学生。我是张然，电影导演，北电老师，我为中国电影代言！（华娱小说，非喜勿入。）......
</p></dd>
</dl>
<dl>
  <dt><a href="/xiaoshuo/59/59522/"><img src="http://fm.88dushu.com/59/59522/59522s.jpg" alt="神藏"></a></dt>
  <dd><h3><a href="/xiaoshuo/59/59522/">神藏</a></h3><span>打眼</span><p>    一念之间，沧海桑田打眼带你进入古玩的世界！！！......
</p></dd>
</dl>
<dl>
  <dt><a href="/xiaoshuo/68/68210/"><img src="http://fm.88dushu.com/68/68210/68210s.jpg" alt="超级怪兽工厂"></a></dt>
  <dd><h3><a href="/xiaoshuo/68/68210/">超级怪兽工厂</a></h3><span>匣中藏剑</span><p>    我叫叶青，幸运获得了一款叫【怪兽工厂】的应用。这帮力大无穷的怪兽，干起活来一个能顶一百个，还带各种技能。效率？加工速度AA300%技能一 …</p></dd>
</dl>
<dl>
  <dt><a href="/xiaoshuo/71/71734/"><img src="http://fm.88dushu.com/71/71734/71734s.jpg" alt="最强厨霸"></a></dt>
  <dd><h3><a href="/xiaoshuo/71/71734/">最强厨霸</a></h3><span>大凉皮</span><p>    重生归来，他将打造一个巨大的餐饮帝国。最强厨霸——他是…王铭！！！！！！......
</p></dd>
</dl>
<dl>
  <dt><a href="/xiaoshuo/42/42015/"><img src="http://fm.88dushu.com/42/42015/42015s.jpg" alt="随身带着星际争霸"></a></dt>
  <dd><h3><a href="/xiaoshuo/42/42015/">随身带着星际争</a></h3><span>暴兵对A</span><p>    一觉醒来，唐方穿越到253年后的星河时代，成为一名前线炮灰士兵。
    他发现自己竟然随身带着一款即时战略游戏《星际争霸2》的三族基地。 …</p></dd>
</dl>
<dl>
  <dt><a href="/xiaoshuo/79/79597/"><img src="http://fm.88dushu.com/79/79597/79597s.jpg" alt="主神大道"></a></dt>
  <dd><h3><a href="/xiaoshuo/79/79597/">主神大道</a></h3><span>古月居士</span><p>    时间。空间。创世。造物。一个普通人偶然间得到了一枚来自异世的神格，用它从无到有创造主神空间，超脱诸天万界的故事......
</p></dd>
</dl>
</div>
<div class="tuijian">
  <ul class="l">
    <li class="t">
    <h2><a href="/sort1/1/">玄幻魔法</a></h2>
    </li>
    <li><a href="/xiaoshuo/81/81637/">圣墟</a>/辰东</li><li><a href="/xiaoshuo/57/57081/">极灵混沌决</a>/若雨随风</li><li><a href="/xiaoshuo/35/35755/">武炼巅峰</a>/莫默</li><li><a href="/xiaoshuo/80/80521/">超能名帅</a>/陈爱庭</li><li><a href="/xiaoshuo/61/61320/">龙王传说</a>/唐家三少</li><li><a href="/xiaoshuo/68/68854/">慕南枝</a>/吱吱</li><li><a href="/xiaoshuo/65/65022/">绝世邪神</a>/纯情犀利哥</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort2/1/">武侠修真</a></h2>
    </li>
    <li><a href="/xiaoshuo/48/48625/">魏野仙踪</a>/盗泉子</li><li><a href="/xiaoshuo/49/49840/">走进修仙</a>/吾道长不孤</li><li><a href="/xiaoshuo/93/93357/">九天武主</a>/巅峰残狼</li><li><a href="/xiaoshuo/91/91569/">凌霄之上</a>/观棋</li><li><a href="/xiaoshuo/89/89519/">女鬼哪里跑</a>/谈笑书</li><li><a href="/xiaoshuo/94/94564/">就是个道士</a>/泛舟子</li><li><a href="/xiaoshuo/66/66168/">天刑纪</a>/曳光</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort3/1/">都市言情</a></h2>
    </li>
    <li><a href="/xiaoshuo/41/41976/">鉴宝秘术</a>/北域神灯</li><li><a href="/xiaoshuo/94/94878/">重生之工业大亨</a>/长胜之虎</li><li><a href="/xiaoshuo/91/91939/">极品小仙医</a>/土豆</li><li><a href="/xiaoshuo/85/85971/">透视小医神</a>/小萌狼</li><li><a href="/xiaoshuo/95/95908/">我与超级AI谈恋爱</a>/木沐王</li><li><a href="/xiaoshuo/92/92321/">总裁的心尖暖妻</a>/水无心</li><li><a href="/xiaoshuo/92/92853/">透视小民工</a>/尼古拉斯赵四</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort4/1/">历史穿越</a></h2>
    </li>
    <li><a href="/xiaoshuo/95/95535/">最强狙击兵王</a>/野兵</li><li><a href="/xiaoshuo/89/89157/">开着外挂闯三国</a>/一蓑烟雨dj</li><li><a href="/xiaoshuo/91/91270/">范进的平凡生活</a>/普祥真人</li><li><a href="/xiaoshuo/95/95208/">隋唐之李家庶子</a>/鱼游太白</li><li><a href="/xiaoshuo/95/95644/">大明铁骨</a>/无语的命运</li><li><a href="/xiaoshuo/89/89337/">水浒大寨主</a>/羊三泰</li><li><a href="/xiaoshuo/94/94875/">游三国之定鼎乾坤</a>/羽宗</li>
  </ul>
</div>
<div class="tuijian">
  <ul class="l">
    <li class="t">
    <h2><a href="/sort5/1/">恐怖悬疑</a></h2>
    </li>
    <li><a href="/xiaoshuo/90/90240/">诡宝禁忌</a>/一支剑</li><li><a href="/xiaoshuo/66/66747/">御鬼者传奇</a>/沙之愚者</li><li><a href="/xiaoshuo/87/87662/">玄门崛起</a>/不若自在</li><li><a href="/xiaoshuo/64/64389/">尸凶</a>/灰小猪</li><li><a href="/xiaoshuo/42/42984/">阴阳鬼医</a>/沙中灰</li><li><a href="/xiaoshuo/81/81262/">我的灵异实录</a>/罗桥森</li><li><a href="/xiaoshuo/67/67292/">盛宠之嫡女医妃</a>/天泠</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort6/1/">游戏竞技</a></h2>
    </li>
    <li><a href="/xiaoshuo/90/90162/">宅时代</a>/翟南</li><li><a href="/xiaoshuo/93/93814/">艾泽拉斯没有贼</a>/故园风雪</li><li><a href="/xiaoshuo/92/92038/">二次元的浪客</a>/银眼的斩杀者</li><li><a href="/xiaoshuo/92/92428/">全能鬼剑系统</a>/七星烈酒</li><li><a href="/xiaoshuo/87/87179/">NBA大反派</a>/江奉先</li><li><a href="/xiaoshuo/93/93725/">星海争霸之虫族皇帝</a>/夜月皇族</li><li><a href="/xiaoshuo/93/93799/">网游之神级炼妖师</a>/青烟一夜</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort7/1/">军事科幻</a></h2>
    </li>
    <li><a href="/xiaoshuo/73/73913/">超自然异闻录</a>/三千狼</li><li><a href="/xiaoshuo/90/90472/">进入电影</a>/青幕山</li><li><a href="/xiaoshuo/94/94268/">星宇天尊</a>/巫师叁</li><li><a href="/xiaoshuo/95/95724/">两界传奇</a>/三舍堂</li><li><a href="/xiaoshuo/73/73475/">罪恶成魔</a>/罪恶皇座</li><li><a href="/xiaoshuo/94/94877/">暗战</a>/丁丁猫</li><li><a href="/xiaoshuo/95/95705/">决战第三帝国</a>/远征士兵</li>
  </ul>
  <ul>
    <li class="t">
    <h2><a href="/sort9/1/">女生频道</a></h2>
    </li>
    <li><a href="/xiaoshuo/65/65116/">穿越自带神攻略</a>/滚粪球的屎壳郎</li><li><a href="/xiaoshuo/95/95898/">重生豪门，战少乖乖 …</a>/安七夏</li><li><a href="/xiaoshuo/76/76358/">兽性盛宠：帝少疼入 …</a>/云若竹</li><li><a href="/xiaoshuo/93/93226/">惹上妖孽冷殿下</a>/晨光熹微</li><li><a href="/xiaoshuo/84/84803/">农绣</a>/花羽容</li><li><a href="/xiaoshuo/92/92134/">蜜枕甜妻：老公，请 …</a>/兜兜有铜钱</li><li><a href="/xiaoshuo/95/95595/">军婚100分：重生学 …</a>/李慢慢</li>
  </ul>
</div>
<div class="main">
  <div class="lastupdate">
    <h2>最新更新</h2>
    <ul>
      <li class="t"><span class="lx">类型</span><span class="sm">书名</span><span class="zj">最新章节</span><span class="zz">作者</span><span class="sj">时间</span></li>
      
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/48/48625/">魏野仙踪</a></span><span class="zj"><a href="/xiaoshuo/48/48625/32212572.html">第四百五十四章.白雪纷纷化赤霜（四十四）</a></span><span class="zz">盗泉子</span><span class="sj">10-08</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95535/">最强狙击兵王</a></span><span class="zj"><a href="/xiaoshuo/95/95535/32212571.html">第186章 对战阿里</a></span><span class="zz">野兵</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/73/73913/">超自然异闻录</a></span><span class="zj"><a href="/xiaoshuo/73/73913/32212570.html">第1035章 初步的影响力</a></span><span class="zz">三千狼</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/90/90996/">闪电侠之闪电骑士</a></span><span class="zj"><a href="/xiaoshuo/90/90996/32212569.html">第463章 离开超查部</a></span><span class="zz">宅家的聪</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/90/90472/">进入电影</a></span><span class="zj"><a href="/xiaoshuo/90/90472/32212568.html">GIM213 来自哈利的惊喜！</a></span><span class="zz">青幕山</span><span class="sj">10-08</span></li>
<li><span class="lx">[综合类型]</span><span class="sm"><a href="/xiaoshuo/88/88015/">英雄联盟之谁是大 …</a></span><span class="zj"><a href="/xiaoshuo/88/88015/32212567.html">第701章 一网打尽（上）</a></span><span class="zz">黄弟陛下</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/89/89819/">极品吹牛系统</a></span><span class="zj"><a href="/xiaoshuo/89/89819/32212566.html">第八百九十六章-星空乱流</a></span><span class="zz">东门不庆</span><span class="sj">10-08</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/89/89157/">开着外挂闯三国</a></span><span class="zj"><a href="/xiaoshuo/89/89157/32212565.html">第1068章 张宁的夫君</a></span><span class="zz">一蓑烟雨dj</span><span class="sj">10-08</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/90/90162/">宅时代</a></span><span class="zj"><a href="/xiaoshuo/90/90162/32212564.html">第五百二十八章 所谓福音</a></span><span class="zz">翟南</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/42/42910/">龙血武帝</a></span><span class="zj"><a href="/xiaoshuo/42/42910/32212563.html">第4513章 战辰南</a></span><span class="zz">流水无痕</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/90/90628/">九转道经</a></span><span class="zj"><a href="/xiaoshuo/90/90628/32212562.html">第3325章 道轮鬼府（2）</a></span><span class="zz">天茗</span><span class="sj">10-08</span></li>
<li><span class="lx">[综合类型]</span><span class="sm"><a href="/xiaoshuo/86/86946/">银河称霸指南</a></span><span class="zj"><a href="/xiaoshuo/86/86946/32212560.html">650 联络之法</a></span><span class="zz">白面黑厮</span><span class="sj">10-08</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/49/49840/">走进修仙</a></span><span class="zj"><a href="/xiaoshuo/49/49840/32212559.html">第八十五章 腐化世界 其十三</a></span><span class="zz">吾道长不孤</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/41/41976/">鉴宝秘术</a></span><span class="zj"><a href="/xiaoshuo/41/41976/32212558.html">第四零九八章 华山真人碰到了杀师地</a></span><span class="zz">北域神灯</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/93/93766/">最强尊上系统</a></span><span class="zj"><a href="/xiaoshuo/93/93766/32212557.html">第八百四十三章 【紫夜宗真传弟子！一条也够】第 …</a></span><span class="zz">我妖选貂蝉</span><span class="sj">10-08</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/93/93814/">艾泽拉斯没有贼</a></span><span class="zj"><a href="/xiaoshuo/93/93814/32212553.html">第二百二十五章 加里瑟斯元帅</a></span><span class="zz">故园风雪</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/94/94268/">星宇天尊</a></span><span class="zj"><a href="/xiaoshuo/94/94268/32212552.html">第241章 困兽之斗</a></span><span class="zz">巫师叁</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/73/73786/">你好，少将大人</a></span><span class="zj"><a href="/xiaoshuo/73/73786/32212550.html">第1207章 不得不发（第二更）</a></span><span class="zz">寒武记</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/94/94878/">重生之工业大亨</a></span><span class="zj"><a href="/xiaoshuo/94/94878/32212549.html">第205章：</a></span><span class="zz">长胜之虎</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95724/">两界传奇</a></span><span class="zj"><a href="/xiaoshuo/95/95724/32212548.html">096洛河镇</a></span><span class="zz">三舍堂</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/91/91939/">极品小仙医</a></span><span class="zj"><a href="/xiaoshuo/91/91939/32212547.html">第702章 层出不穷</a></span><span class="zz">土豆</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/85/85971/">透视小医神</a></span><span class="zj"><a href="/xiaoshuo/85/85971/32212541.html">第2875章 白捡媳妇儿的好事</a></span><span class="zz">小萌狼</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/73/73475/">罪恶成魔</a></span><span class="zj"><a href="/xiaoshuo/73/73475/32212539.html">第三百九十六章 幽冥鬼爪vs先天化罡擒拿手！</a></span><span class="zz">罪恶皇座</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95908/">我与超级AI谈恋爱</a></span><span class="zj"><a href="/xiaoshuo/95/95908/32212538.html">第一百五十七章 美男计是什么计？</a></span><span class="zz">木沐王</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/92/92321/">总裁的心尖暖妻</a></span><span class="zj"><a href="/xiaoshuo/92/92321/32212534.html">第1287章 苏家想娶折薇</a></span><span class="zz">水无心</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/94/94877/">暗战</a></span><span class="zj"><a href="/xiaoshuo/94/94877/32212490.html">第211章 考虑不周</a></span><span class="zz">丁丁猫</span><span class="sj">10-08</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/91/91270/">范进的平凡生活</a></span><span class="zj"><a href="/xiaoshuo/91/91270/32212479.html">第三百五十五章文学少女</a></span><span class="zz">普祥真人</span><span class="sj">10-08</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95208/">隋唐之李家庶子</a></span><span class="zj"><a href="/xiaoshuo/95/95208/32212475.html">第210章 偶遇玄奘</a></span><span class="zz">鱼游太白</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/92/92853/">透视小民工</a></span><span class="zj"><a href="/xiaoshuo/92/92853/32212470.html">第561章 严莉莉死了？ 4</a></span><span class="zz">尼古拉斯赵四</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/46/46372/">超级U盘</a></span><span class="zj"><a href="/xiaoshuo/46/46372/32212467.html">第一千一百十五章 大果粒</a></span><span class="zz">纸火花</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/50/50842/">神武觉醒</a></span><span class="zj"><a href="/xiaoshuo/50/50842/32212456.html">1130 再入</a></span><span class="zz">百里玺</span><span class="sj">10-08</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95644/">大明铁骨</a></span><span class="zj"><a href="/xiaoshuo/95/95644/32212447.html">第135章 内忧（第一更，求推荐，求收藏）</a></span><span class="zz">无语的命运</span><span class="sj">10-08</span></li>
<li><span class="lx">[综合类型]</span><span class="sm"><a href="/xiaoshuo/80/80723/">阴阳道典</a></span><span class="zj"><a href="/xiaoshuo/80/80723/32212437.html">第九百四十六章 第二个条件</a></span><span class="zz">胖亦有道</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/93/93343/">帝霸天下</a></span><span class="zj"><a href="/xiaoshuo/93/93343/32212433.html">第三百五十三章 长胜将军</a></span><span class="zz">小梦来了</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95705/">决战第三帝国</a></span><span class="zj"><a href="/xiaoshuo/95/95705/32212416.html">第一百四十八章 轰炸</a></span><span class="zz">远征士兵</span><span class="sj">10-08</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/93/93357/">九天武主</a></span><span class="zj"><a href="/xiaoshuo/93/93357/32212408.html">第0636章 杀意宝珠</a></span><span class="zz">巅峰残狼</span><span class="sj">10-08</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/90/90959/">美漫之二次元逞凶</a></span><span class="zj"><a href="/xiaoshuo/90/90959/32212395.html">第六百三十四章 礼物</a></span><span class="zz">顿顿蛋炒饭</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/89/89851/">武极宗师</a></span><span class="zj"><a href="/xiaoshuo/89/89851/32212380.html">第五十二章 不需那么麻烦（第六更！）</a></span><span class="zz">风消逝</span><span class="sj">10-08</span></li>
<li><span class="lx">[综合类型]</span><span class="sm"><a href="/xiaoshuo/48/48803/">宠妻无度：神医世 …</a></span><span class="zj"><a href="/xiaoshuo/48/48803/32212364.html">第1587章 番外140</a></span><span class="zz">我才一岁嘛</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/73/73200/">跑到异界开工厂</a></span><span class="zj"><a href="/xiaoshuo/73/73200/32212349.html">第五百四十七章</a></span><span class="zz">大湿请留步</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/50/50854/">超级学神</a></span><span class="zj"><a href="/xiaoshuo/50/50854/32212339.html">第一千六百四十二章 险中求胜！</a></span><span class="zz">鬼谷仙师</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/87/87317/">仙药供应商</a></span><span class="zj"><a href="/xiaoshuo/87/87317/32212337.html">第三八零章 这一巴掌</a></span><span class="zz">糖醋于</span><span class="sj">10-08</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/91/91569/">凌霄之上</a></span><span class="zj"><a href="/xiaoshuo/91/91569/32212336.html">第十六章 虎吞枉死城</a></span><span class="zz">观棋</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/87/87217/">韶光慢</a></span><span class="zj"><a href="/xiaoshuo/87/87217/32212335.html">第689章 失利</a></span><span class="zz">冬天的柳叶</span><span class="sj">10-08</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/92/92038/">二次元的浪客</a></span><span class="zj"><a href="/xiaoshuo/92/92038/32212334.html">第二十八章 万事万物皆有代价</a></span><span class="zz">银眼的斩杀者</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/94/94565/">极品辅助系统</a></span><span class="zj"><a href="/xiaoshuo/94/94565/32212333.html">第一百九十五章 进去还是出来了</a></span><span class="zz">隐为者</span><span class="sj">10-08</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/92/92428/">全能鬼剑系统</a></span><span class="zj"><a href="/xiaoshuo/92/92428/32212332.html">第418章 鬼神叶开vs绵月姐妹</a></span><span class="zz">七星烈酒</span><span class="sj">10-08</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/67/67424/">碎星物语</a></span><span class="zj"><a href="/xiaoshuo/67/67424/32212331.html">十二章 少女的行动</a></span><span class="zz">罗森</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/93/93082/">神豪无极限</a></span><span class="zj"><a href="/xiaoshuo/93/93082/32212330.html">第322章 有一道光</a></span><span class="zz">偷名</span><span class="sj">10-08</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/88/88167/">六界事务所</a></span><span class="zj"><a href="/xiaoshuo/88/88167/32212329.html">第七百四十七章 回归的一切！（大结局）</a></span><span class="zz">拜将</span><span class="sj">10-08</span></li>
    </ul>
  </div>
  <div class="postdate">
    <h2><a href="/toppostdate/1/">新书入库</a></h2>
    <ul>
      
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95908/">我与超级AI谈</a></span><span class="zz">木沐王</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/95/95907/">重生之校园王</a></span><span class="zz">红尘言笑</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95906/">都市之龙游花</a></span><span class="zz">差不多先生</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95905/">逍遥搜神记</a></span><span class="zz">邢墨鸢</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/95/95904/">焚天路</a></span><span class="zz">洛神雨</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95903/">暴君宠妃：夫</a></span><span class="zz">十三娇</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95902/">皇上！无情宠</a></span><span class="zz">凕梦</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95901/">全能至尊兵王</a></span><span class="zz">世俗的表情</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95900/">亿万契约：首</a></span><span class="zz">萧羽墨</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95899/">有个天使在等</a></span><span class="zz">何默歌</span></li>
<li><span class="lx">[女生频道]</span><span class="sm"><a href="/xiaoshuo/95/95898/">重生豪门，战</a></span><span class="zz">安七夏</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95897/">重生三国之天</a></span><span class="zz">浪子边城</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/95/95895/">仙徒之我是秀</a></span><span class="zz">紫陌晨客</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95893/">丧尸王系统</a></span><span class="zz">一介草包</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95892/">武帝尊神</a></span><span class="zz">迈巴赫</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95891/">四象封天</a></span><span class="zz">木仑</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95890/">春江水暖</a></span><span class="zz">缓归矣</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95889/">仙酿师</a></span><span class="zz">寒衣燃烬</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/95/95888/">我的美女兵器</a></span><span class="zz">雪飘墨</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95887/">江湖董事长</a></span><span class="zz">公竟渡河</span></li>
<li><span class="lx">[武侠修真]</span><span class="sm"><a href="/xiaoshuo/95/95886/">至强女汉子</a></span><span class="zz">傲娇美胖子</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95885/">盛世鸿途</a></span><span class="zz">鹅城知县</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95884/">三国之雪域狼</a></span><span class="zz">东门尚旪</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95883/">女总裁的至尊</a></span><span class="zz">莫语听风吟</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95882/">八荒帝诀</a></span><span class="zz">灵魂选手</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95881/">天武神帝</a></span><span class="zz">火焰羽毛</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95879/">鬼手神医：殿</a></span><span class="zz">上邪子和</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95878/">通天云界</a></span><span class="zz">泪落天涯</span></li>
<li><span class="lx">[游戏竞技]</span><span class="sm"><a href="/xiaoshuo/95/95877/">最强外挂系统</a></span><span class="zz">故来人</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95876/">神级美女召唤</a></span><span class="zz">锈逗了的烂</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95875/">傲娇女神，逆</a></span><span class="zz">梦落听蝶</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95874/">我的异能有点</a></span><span class="zz">日音羊羽</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95873/">灵兽供应商</a></span><span class="zz">祥和瑞兴</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95872/">重生九零逆袭</a></span><span class="zz">清清池</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95871/">机行时空</a></span><span class="zz">千屠鸦</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95870/">变身之武侠到</a></span><span class="zz">涛哥霸气</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95869/">千年劫之神女</a></span><span class="zz">o倾城雪儿o</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95868/">赎魔</a></span><span class="zz">张果然</span></li>
<li><span class="lx">[军事科幻]</span><span class="sm"><a href="/xiaoshuo/95/95867/">神经崩溃系统</a></span><span class="zz">碎花2016</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95866/">牧游生活</a></span><span class="zz">牧一</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95865/">在下圣人</a></span><span class="zz">祈言誓约</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95864/">随身三国杀传</a></span><span class="zz">有仙越界</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95862/">破天之主</a></span><span class="zz">百疏一密</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95861/">亿万豪门：帝</a></span><span class="zz">夏妍</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95860/">三国之鸿鹄高</a></span><span class="zz">方外游侠</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95859/">我们岛主总是</a></span><span class="zz">弦歌雅意</span></li>
<li><span class="lx">[历史穿越]</span><span class="sm"><a href="/xiaoshuo/95/95858/">重生之农媳奋</a></span><span class="zz">时辞今年</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95857/">爱人是我cp粉</a></span><span class="zz">兮苍</span></li>
<li><span class="lx">[都市言情]</span><span class="sm"><a href="/xiaoshuo/95/95856/">我在异界摆地</a></span><span class="zz">霰雪鸟</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95855/">特种兵之夜影</a></span><span class="zz">落夜天明</span></li>
<li><span class="lx">[玄幻魔法]</span><span class="sm"><a href="/xiaoshuo/95/95854/">终极武神</a></span><span class="zz">听雨停</span></li>
    </ul>
  </div>
</div>
